@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@model User
<!DOCTYPE html>
<html lang="en">

<head>
	<link rel="stylesheet" src="~/css/setting/setting/css" asp-append-version="true">
</head>
<!-- 設定頁面 -->

<body>
	<div class=" container mt-5 ">
		<div class="row">
			<div class="col-md-3">
				<div class="list-group" id="list-tab" role="tablist">
					<a class="list-group-item list-group-item-action active" id="list-home-list"
					   asp-action="Setting" role="tab" aria-controls="list-home">帳號設定</a>
					<a class="list-group-item list-group-item-action" id="list-profile-list"
					   asp-action="Permissions" role="tab" aria-controls="list-profile">權限</a>
				</div>
			</div>

			<div class="col-md-8 shadow border p-3 " style="background-color:white">
				<form action="/Setting/Setting" method="post" enctype="multipart/form-data" id="NameForm">
					<div class=" p-4">
						<h5 class="card-titles d-flex align-items-center">

							<img src="@(Model.PhotoUrl ??  " /img/Login/headphoto.jpg")" class="me-2" id="profileImage" width="60">
							<span id="MemberName">@Model.Nickname</span>
							<input type="text" id="nameInput" class="form-control d-none col " value="@Model.Nickname" name="Nickname">
							<div>
								<input type="file" id="imageInput" class="d-none ms-2" accept="image/*" onchange="previewImage(event)" name="PhotoUrl">
								<a href="#" class="ms-2 fs-6" style="text-decoration:none; color:green" onclick="NameEdit(true)">修改</a>
							</div>
						</h5>
						<div class="d-none" style="margin-left: 70px;" id="EditButton">
							<button type="submit" class="btn btn-outline-success btn-sm me-3 " id="saveButton" onclick="saveChanges()">儲存</button>
							<button type="button" class="btn btn-outline-success btn-sm me-3" onclick="NameEdit(false)" id="Namecancel">取消</button>
						</div>
					</div>
				</form>

				<form action="/Setting/SettingUser" method="post" id="InfoForm">
					<h5 class="mt-5">
						<strong>個人資料</strong>
						<a href="#" class="ms-2 fs-6" style="text-decoration:none; color:green" onclick="MemberEdit(true)" id="Edit">編輯</a>
					</h5>

					<div class="mb-3 row">
						<label for="Email" class="col-sm-2 col-form-label"><strong>電子信箱 :</strong></label>
						<div class="col-sm-10">
							<input type="email" class="form-control-plaintext" id="Email" name="Email" value="@Model.Email" readonly>
						</div>
					</div>
					<div class=" mb-3 row">
						<label class="col-sm-2 col-form-label"><strong>性別 :</strong></label>
						<div class="col-sm-10 d-flex align-items-center">
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" name="Gender" id="inlineRadio1"
									   value="M" @(Model.Gender == "M" ? "checked" : "")>
								<label class="form-check-label" for="inlineRadio1">男</label>
							</div>
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" name="Gender" id="inlineRadio2"
									   value="F" @(Model.Gender == "F" ? "checked" : "")>
								<label class="form-check-label" for="inlineRadio2">女</label>
							</div>
						</div>
					</div>
					<div class="mb-3 row">
						<label for="Birthdate" class="col-sm-2 col-form-label"><strong>生日 :</strong></label>
						<div class="col-sm-10">
							<input type="date" class="form-control-plaintext" id="Birthdate" name="Birthdate" value="@( Model.Birthdate != null ?Model.Birthdate.Value.ToString("yyyy-MM-dd"): "")" readonly>
						</div>
					</div>
					<div class="mb-3 row">
						<label for="address" class="col-sm-2 col-form-label"><strong>住址 :</strong></label>
						<div class="col-sm-10">
							<input type="text" class="form-control-plaintext" id="address" name="Address" value="@Model.Address" readonly>
						</div>
					</div>
					<div class="mb-3 row">
						<label for="Phone" class="col-sm-2 col-form-label"><strong>手機 :</strong></label>
						<div class="col-sm-10">
							<input type="tel" class="form-control-plaintext" id="Phone" name="Phone" value="@Model.Phone" readonly>
						</div>
					</div>
					<div class="d-flex justify-content-end mt-3 d-none" id="MemberEdit">
						<button type="submit" class="btn btn-outline-success btn-sm me-3 " id="saveButton" onclick="MemberEdit(false)">儲存</button>
						<button type="button" class="btn btn-outline-success btn-sm" onclick="MemberEdit(false)" id="Infocancel">取消</button>
					</div>
				</form>

				<form action="/Setting/SettingPW" method="post">
					<h5 class="mt-5">
						<strong>更改密碼</strong>
					</h5>

					<div class="mb-3 row">
						<label for="OldPassword" class="col  form-label mt-5">舊密碼 :</label>
						<div class="col-sm-9 mt-5">
							<input type="password" class="form-control  " id="OldPassword" name="OldPW"
								   oninput="Password()">
						</div>
					</div>
					<div class="mb-3 row">
						<label for="NewPassword" class="col  form-label mt-3">新密碼 :</label>
						<div class="col-sm-9 mt-3">
							<input type="password" class="form-control  " id="NewPassword" name="NewPW"
								   oninput="Password()">
						</div>
					</div>
					<div class="mb-3 row">
						<label for="RePassword" class="col  form-label mt-3">確認密碼 :</label>
						<div class="col-sm-9 mt-3">
							<input type="password" class="form-control  " id="RePassword" name="TruePW"
								   oninput="Password()">
						</div>
					</div>
					<div class="d-flex justify-content-end mt-3">
						<button type="submit" class="btn btn-outline-success" id="save" data-bs-toggle="modal"
								data-bs-target="#exampleModal" disabled>
							修改密碼
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	@if (TempData["SettingError"] != null)
	{
		<script>
				  document.addEventListener("DOMContentLoaded", function () {
				var errorModal = new bootstrap.Modal(document.getElementById('errorModal'));
				errorModal.show();
			});
		</script>



		<!-- Bootstrap 5 Modal -->
		<div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="errorModalLabel">錯誤</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						@TempData["SettingError"]
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
					</div>
				</div>
			</div>
		</div>
	}

	@if (TempData["SetSuccess"] != null)
	{
		<script>
				  document.addEventListener("DOMContentLoaded", function () {
				var errorModal = new bootstrap.Modal(document.getElementById('errorModal'));
				errorModal.show();
			});
		</script>



		<!-- Bootstrap 5 Modal -->
		<div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="errorModalLabel">成功</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						@TempData["SetSuccess"]
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
					</div>
				</div>
			</div>
		</div>
	}

	<script>
		document.getElementById("Phone").addEventListener("input", function (e) {
			let value = e.target.value.replace(/\D/g, ""); // 移除所有非數字的字元
			if (value.length > 4) {
				value = value.slice(0, 4) + "-" + value.slice(4);
			}
			if (value.length > 8) {
				value = value.slice(0, 8) + "-" + value.slice(8, 11);
			}
			e.target.value = value;
		});


		document.getElementById('Infocancel').addEventListener('click', function () {
			document.getElementById('InfoForm').reset()
		})

		document.getElementById('Namecancel').addEventListener('click', function () {
			document.getElementById('NameForm').reset()
			document.getElementById('profileImage').src = "@(Model.PhotoUrl ?? " /img/Login/headphoto.jpg")"
		})

	</script>

	<script src="~/js/setting/setting.js"></script>


</body>

</html>