@{
	Layout = "_LayoutTes";
}

@{var x = ViewBag.A1;}
<h1>[情報] T1勝利感言</h1>
<div class="container mt-4">
	<nav aria-label="Page navigation">
		<ul class="pagination justify-content-center">
			<li class="page-item"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
			<li class="page-item"><a class="page-link" href="#">1</a></li>
			<li class="page-item"><a class="page-link" href="#">2</a></li>
			<li class="page-item"><a class="page-link" href="#">3</a></li>
			<li class="page-item"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
		</ul>
	</nav>
	<div class="container">
		<div class="article-title">
			<h2>[情報] T1勝利感言</h2>
		</div>
		@for (int i = 0; i < 5; i++)
		{
			<div class="d-flex mb-5 article-block">
				<div class="member-block">
					<img src="@x[@i].Url" alt="faker" class="img-fluid" style="width: 180px;height: 200px; object-fit: cover;">
				</div>
				<div class="article-border flex-grow-1">
					<div class="article-content">
						<div class="row align-items-center mb-3 article-row-1">
							<div class="col-1 bg-dark bg-gradient text-white">
								@if (i == 0)
								{
									<text>
										樓主
									</text>
								}
								else
								{
									<text>
										第@(i + 1)樓
									</text>
								}
							</div>
							<div class="col-2">@x[@i].Name</div>
							<div class="col-2">@x[@i].TempName</div>
							<div class="col-7 text-end">@ViewBag.CreteTime</div>
						</div>
						<div class="article-row-2">
							<p class="text-break">@Html.Raw(@x[@i].Content)</p>
						</div>
					</div>
					<div class="comment-section">
						<h3>留言</h3>
						<div class="mb-3">
							<textarea class="form-control" rows="3" placeholder="輸入您的留言..."></textarea>
						</div>
						<button type="button" class="btn btn-primary">送出留言</button>
					</div>
				</div>
			</div>
		}
		<div class="further-reading-block mb-5">
			<h5>延伸閱讀</h5>
			<div class="row align-items-center mb-3">
				<div class="col-3 further-article-block mb-2">1</div>
				<div class="col-3 further-article-block mb-2">1</div>
				<div class="col-3 further-article-block mb-2">1</div>
				<div class="col-3 further-article-block mb-2">1</div>
			</div>
		</div>
	</div>
	<nav aria-label="Page navigation">
		<ul class="pagination justify-content-center">
			<li class="page-item"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
			<li class="page-item"><a class="page-link" href="#">1</a></li>
			<li class="page-item"><a class="page-link" href="#">2</a></li>
			<li class="page-item"><a class="page-link" href="#">3</a></li>
			<li class="page-item"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
		</ul>
	</nav>
</div>

