<link rel="stylesheet" href="~/css/Product/ProductInfo.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/Product/AddedToCart.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/Product/Product.css" asp-append-version="true" />

<!-- 嵌入商城導覽列 -->
@{
    Layout = "~/Views/Shared/ShoppingMall_Nav.cshtml";
}
@model Product

<!-- 商品資訊 -->
<div class="row g-0 bg-white">
    <div class="col-sm-4">
        <div class="section bg-white">
            @* 商品主要圖片 *@
            <a href="" class="detail-img-block">
                <span class="img-color-ns">@(Model.ProductCategory?.Category ?? "NS")</span>
                <div class="img-container">
                    <img src="@Model.MainImageUrl" alt="product-img">
                </div>
            </a>

            @* 商品名稱 *@
            <div class="detail-name-block">
                <span class="color-ns">@(Model.ProductCategory?.Category ?? "NS")</span>
                <span class="pokemon-font">@Model.ProductName</span>
            </div>

			@* 商品評分、庫存 *@
            <div class="detail-info-block">
                <div class="info-stock">商品評分：<span class="rating" data-rating="@Model.Rating"></span></div>
                <div class="info-stock">商品庫存：@Model.Stock</div>
            </div>

            <hr>

            @* 商品價格 *@
            <div class="price-info-detail">
                <p class="info-main-price">NT @Model.Price 元</p>
            </div>

			@* 商品購買數量 *@
            <div class="products-number-choice">
                <div class="number-title">數量</div>
                <button class="btn-reduce-number">-</button>
                <div class="show-products-number">1</div>
                <button class="btn-add-number">+</button>
            </div>

			@* 加入購物車按鈕 *@
            <div class="add-to-cart-container">
                <button class="btn-add-to-cart" data-product-id="@Model.ProductId">加入購物車</button>
            </div>
            
            <!-- 提示訊息容器，移動到頁面頂部 -->
            <div id="cart-message" class="cart-message" style="display: none;"></div>

            <hr>

            <div class="products-description-title">
                <p>產品簡介</p>
            </div>

			@* 商品描述 *@
            <div class="product-description">
                @Model.ProductDescription
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="section bg-white">
            @* 商品補充圖片 *@
            <a href="" class="detail-img-block">
                <span class="img-color-ns">@(Model.ProductCategory?.Category ?? "NS")</span>
                <div class="img-container">
                    @foreach (var additionalImage in Model.ProductAdditionalImages)
                    {
                        <div>
                            <img src="@additionalImage.AdditionalImageUrl" alt="" class="pic-slider-items" style="width: 100%; display: inline-block;">
                        </div>
                        <br />
                    }
                </div>
            </a>
        </div>
    </div>
</div>

<br />

<!-- 相關商品 -->
<div class="section bg-white">
    <h2>相關商品</h2>
    <div class="products-card-scroll">
        <div class="products-card-control">
            <div class="products-cards-area">
                <div class="row">
                    @foreach (var obj in ViewBag.RelatedProducts)
                    {
                        <div class="col-2">
                            <div class="products-card">
                                @* 商品圖 *@
                                <a asp-controller="Product" asp-action="Index" asp-route-productId="@obj.ProductId" class="products-card-img">
                                    <img src="@obj.MainImageUrl" alt="@obj.ProductName" class="pic-products">
                                </a>

                                <div class="related-products-name">@obj.ProductName</div>

                                @* 購買按鈕 *@
                                <a class="btn-buy-now" asp-controller="Product" asp-action="Index" asp-route-productId="@obj.ProductId">
                                    前往購買
                                </a>
                            </div>
                        </div>                        
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<br />

<!-- 瀏覽紀錄 -->
<div class="section bg-white">
    <h2>瀏覽紀錄</h2>
    <div class="products-card-scroll">
        <div class="products-card-control">
            <div class="products-cards-area">
                <div class="row">
                    @if (ViewBag.ViewHistory != null && ViewBag.ViewHistory.Count > 0)
                    {
                        @foreach (var obj in ViewBag.ViewHistory)
                        {
                            <div class="col-2">
                                <div class="products-card">
                                    <a asp-controller="Product" asp-action="Index" asp-route-productId="@obj.ProductId" class="products-card-img">
                                        <img src="@obj.MainImageUrl" alt="@obj.ProductName" class="pic-products">                                        
                                    </a>
                                    <div class="related-products-name">@obj.ProductName</div>
                                    <a class="btn-buy-now" asp-controller="Product" asp-action="Index" asp-route-productId="@obj.ProductId">
                                        前往購買
                                    </a>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <p>尚無瀏覽紀錄</p>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/product/GenerateStars.js" asp-append-version="true"></script>
<script src="~/js/product/AdjustProductQuantity.js" asp-append-version="true"></script>
<script src="~/js/product/AddedToShoppingCart.js" asp-append-version="true"></script>
