<link rel="stylesheet" href="~/css/Product/ProductInfo.css" asp-append-version="true" />

<!-- 嵌入商城導覽列 -->
@await Html.PartialAsync("ShoppingMall_Nav")

@model Product

<p>這裡是商品頁面</p>

<!-- 商品資訊 -->
<div class="row g-0">
    <div class="col-sm-4">
        <div class="section bg-success">
            <a href="" class="detail-img-block">
                <span class="img-color-ns">@(Model.ProductCategory?.Category ?? "NS")</span>
                <div class="img-container">
                    <img src="@Model.MainImageUrl" alt="product-img">
                </div>
            </a>
            <div class="detail-name-block">
                <span class="color-ns">@(Model.ProductCategory?.Category ?? "NS")</span>
                <span class="pokemon-font">@Model.ProductName</span>
            </div>
            <div class="detail-info-block">
                <div class="info-stock">商品評分：<span class="rating" data-rating="@Model.Rating"></span></div>
                <div class="info-stock">商品庫存：@Model.Stock</div>
            </div>
            <hr>
            <div class="price-info-detail">
                <p class="info-main-price">NT @Model.Price 元</p>
            </div>
            <div class="products-number-choice">
                <div class="number-title">數量</div>
                <button class="btn-reduce-number">-</button>
                <div class="show-products-number">1</div>
                <button class="btn-add-number">+</button>
            </div>
            <div class="add-to-cart-container">
                <button class="btn-add-to-cart">加入購物車</button>
            </div>
            <hr>
            <div class="products-description-title">
                <p>產品簡介</p>
            </div>
            <div class="product-description">
                @Model.ProductDescription
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="section bg-black">
            <a href="" class="detail-img-block">
                <span class="img-color-ns">@(Model.ProductCategory?.Category ?? "NS")</span>
                <div class="img-container">
                    @foreach (var additionalImage in Model.ProductAdditionalImages)
                    {
                        <div>
                            <img src="@additionalImage.AdditionalImageUrl" alt="" class="pic-slider-items" style="width: 100%; display: inline-block;">
                        </div>
                        <br />
                    }
                </div>
            </a>
        </div>
    </div>
</div>

<script src="~/js/product/GenerateStars.js" asp-append-version="true"></script>
<script src="~/js/product/AdjustProductQuantity.js" asp-append-version="true"></script>
