<link rel="stylesheet" href="~/css/News/News.css" asp-append-version="true" />

@await Html.PartialAsync("_LayoutNews")
@model FinalProject_GameForum.Models.News

<div class="myContainer">
	<div>
		<h2>
			@Model.NewsTitle
		</h2>
	</div>
	<br />
	<p><time>@Model.EditDate?.ToString("yyyy-MM-dd HH:mm")</time></p>
	<ul>
		@foreach (var image in Model.NewsImages)
		{
			<li><img src="@image.ImageUrl"></li>
		}
	</ul>

	<div class="news-content">
		@foreach (var paragraph in Model.NewsContent.Split(new[] { "\n" }, StringSplitOptions.RemoveEmptyEntries))
		{
			<h5>@paragraph</h5>
		}
	</div>
</div>

<div class="message-container">
	<div class="message">
		<div class="messageList">
			@if (ViewBag.NewsMessages != null && (ViewBag.NewsMessages as List<FinalProject_GameForum.Models.NewsMessage>)?.Any() == true)
			{
				foreach (var message in ViewBag.NewsMessages as List<FinalProject_GameForum.Models.NewsMessage>)
				{
					<div class="comment-item">
						<h4>@(message.User != null ? message.User.UserId : "匿名")</h4>
						<h5>@message.MessageContent</h5>						
						<h6>@(message.EditDate?.ToString("yyyy-MM-dd HH:mm:ss") ?? "")</h6>
					</div>
				}
			}
			else
			{
				<p>目前沒有留言。</p>
			}
		</div>
	</div>
</div>
<div class="text-container">
	@using (Html.BeginForm("AddMessage", "News", new { newsId = Model.NewsId }, FormMethod.Post))
	{
		<textarea id="text" placeholder="留言..." maxlength="80"></textarea>
		<button class="send">送出</button>
	}
</div>

<div class="others-container">
	<div class="others">
		<h3>相關新聞</h3>
		<div class="newsList">
			@foreach (var relatedNews in ViewBag.RelatedNews as List<FinalProject_GameForum.Models.News> ??  ViewBag.RelatedNews.Empty<News>())
			{
				<div class="otherNews">
					<a href="@Url.Action("News","News",new {id = relatedNews.NewsId})">
						<img src="@relatedNews.ImageUrl" alt="MHN Image" style="width:220px;height:220px" /></a>
					<h6><a href="@Url.Action("News","News",new {id = relatedNews.NewsId})">@relatedNews.NewsTitle</a></h6>
				</div>
			}
		</div>		
	</div>
</div>
