<link rel="stylesheet" href="~/css/News/News.css" asp-append-version="true" />

@await Html.PartialAsync("_LayoutNews")
@model FinalProject_GameForum.Models.News

<div class="myContainer">
	<div>
		<h2>
			@Model.NewsTitle
		</h2>
	</div>
	<br />
	<p><time>@Model.EditDate?.ToString("yyyy-MM-dd HH:mm")</time></p>
	<div class="news-content">
		@foreach (var paragraph in Model.NewsContent.Split(new[] { "\n" }, StringSplitOptions.RemoveEmptyEntries))
		{
			<h5>@paragraph</h5>
		}
	</div>
	<ul>
		@foreach(var image in Model.NewsImages)
		{
			<li><img src="@image.ImageUrl"></li>
		}
		</ul>
</div>
<div class="container">
	<div class="comment">
		留言
	</div>
</div>
<div class="container">
	<textarea id="text" placeholder="留言..." maxlength="80"></textarea>
</div>
<button class="send">送出</button>

<div class="container">
	<div class="others">
		<h3>相關新聞</h3>
		<div class="newsList">
			@foreach (var relatedNews in ViewBag.RelatedNews as List<FinalProject_GameForum.Models.News> ??  ViewBag.RelatedNews.Empty<News>())
			{
				<div class="otherNews">
					<a href="@Url.Action("News","News",new {id = relatedNews.NewsId})">
						<img src="@relatedNews.ImageUrl" alt="MHN Image" style="width:220px;height:220px" /></a>
					<h6><a href="@Url.Action("News","News",new {id = relatedNews.NewsId})">@relatedNews.NewsTitle</a></h6>
				</div>
			}
		</div>		
	</div>
</div>
