@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewData["HideFooter"] = true;
}
<link rel="stylesheet" href="~/css/Article/Article.css" asp-append-version="true" />
@section ExtraNavbar{
	<nav class="navbar p-0 extra-navbar">
		<div class="container-fluid">
			<div class="col-lg-1"></div>
			<div class="col-lg-8">
				<div class="title-content">
					<a class="m-3" href="@Url.Action("Index", "Discussion")">看版</a>
					<a class="m-3" href="@Url.Action("DisHome", "Discussion", new { id = ViewBag.DiscussionId, trigger = "article-list" })">文章列表</a>
				</div>
			</div>
			<div class="d-flex gap-3 flex-wrap justify-content-center">
				<a id="subscribeBtn" class="btn btn-outline-dark flex-grow-1 text-nowrap" style="min-width: 80px;" data-article-group-id="@ViewBag.ArticleGroupId">
					訂閱
				</a>
				<a asp-controller="ArticleEdit" asp-action="Reply" asp-route-articleGroupId="@ViewBag.ArticleGroupId" class="btn btn-outline-dark flex-grow-1 text-nowrap" style="min-width: 80px;">
					回覆
				</a>
			</div>
		</div>
	</nav>
}
	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	<div class="selectFloor">
		<p>前往樓層</p>
	<input type="number" id="floorInput" min="1" placeholder="?樓" style="width:50px;" />
	</div>

	<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>	
	<script src="~/js/article/article.js" asp-append-version="true"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
