<link rel="stylesheet" href="~/css/Home/Index.css" asp-append-version="true" />

@{
    ViewBag.Title = "Home Page";
}
<!--側邊選單-->
<h2>最新消息</h2>
<div class="side-menu">
    <div class="list-group">
        <a href="/News/Index" class="list-group-item list-group-item-action">
            <img src="~/img/layout/newspaper.png" alt="新聞區">
            <span>新聞區</span>
        </a>
        <a href="/Discussion/Index" class="list-group-item list-group-item-action">
            <img src="~/img/layout/discussion.png" alt="討論區">
            <span>討論區</span>
        </a>
        <a href="/ShoppingMall/Index" class="list-group-item list-group-item-action">
            <img src="~/img/layout/shop.png" alt="商城">
            <span>商城</span>
        </a>
        <a href="/CustomerServiceIssues/Index" class="list-group-item list-group-item-action">
            <img src="~/img/layout/request.png" alt="客服中心">
            <span>客服中心</span>
        </a>
        @if (User.Identity!.IsAuthenticated)
        {
            <a href="/Setting/Setting" class="list-group-item list-group-item-action">
                <img src="~/img/layout/configuration.png"  alt="設置">
                <span>設置</span>
            </a>
        }

    </div>
</div>
@* 熱門新聞 *@

<div class="news-container">

    <div class="newsList">
        @foreach (var news in ViewBag.news) {
            <div class="News">
                <a href="@Url.Action("News", "News", new { id = news.NewsId })">
                    <img src="@news.ImageUrl" alt="" />
                </a>
                <h6><a href=" @Url.Action("News", "News", new { id = news.NewsId })">
                        @news.NewsTitle</a></h6>
            </div>
        }
    </div>
</div>

@* 廣告 *@
<div class="ad-container">
    @foreach (var ad in ViewBag.ad)
    {
        <div class="ad" data-product-id ="@ad.ProductId">
            <a href="@Url.Action("Index", "Product", new { productId = ad.ProductId })" alt="" title="@ad.ProductName">
                <img src="@ad.MainImageUrl" />
            </a>
        </div>
    }
</div>

    @* 熱門商品 *@
        <h2>熱門商品</h2>
        <div class="shop-container">
            <div class="shop-card">
            @foreach (var product in ViewBag.product) 
            {
                <div class="shop-card-block">
                        <span class="img-color-NS">NS</span>
                    <a href="@Url.Action("Index", "Product", new { productId = product.ProductId })">
                        <img src="@product.MainImageUrl" alt="" class="share-products-img">
                    </a>
                    <h6>
                    <a href="@Url.Action("Index", "Product", new { productId = product.ProductId })">
                        @product.ProductName
                    </a>
                    </h6>
                </div>                
            }
            </div>
        </div>


    @* 熱門看板 *@
    <h2>熱門看板</h2>

    <div class="discussion-container">
        @foreach (var dis in ViewBag.dis) 
        {
            <div class="discussion-card">
            <a href="@Url.Action("DisHome", "Discussion", new { id = dis.DiscussionId })">
                    <img src="~/img/@(dis.ImageUrl ?? "default.jpg")" />
                </a>
            <h6>
                <a href="@Url.Action("DisHome", "Discussion", new { id = dis.DiscussionId })">
                        @dis.DiscussionName</a></h6>
            </div>
        }
    </div>


<script src="~/js/Home/Home.js"></script>
<script>
    window.getRandomAdUrl = '@Url.Action("GetRandomAD", "Home")';
    window.productIndexUrl = '@Url.Action("Index", "Product")';
</script>