@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var user = Model.owner.UserId;
}
@model PersonalView
<!DOCTYPE html>
<html lang="en">

<head>


    <style>
        table,
        td,
        th {
        border: 1px solid gainsboro;
        height: 50px;
        }

        td:first-child {
        text-align: center;
        }

        td:last-child {
        text-align: center;
        }

        th {
        text-align: center 
        }


    </style>
</head>

<body>
    <div class="container-md mt-5 ">
        <div class="row">
            <!-- 左側內容 -->
            <div class="col-10">
                <nav class=" navbar-expand-lg navbar-light bg-light border shadow">
                    <div class="container-fluid">

                        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                            <div class="navbar-nav">
                                <a class="nav-link active" href="/Personal/Personal?ownerid=@user">個人首頁</a>
                                <a class="nav-link" href="/Personal/Collect?ownerid=@user">文章收藏</a>
                                <a class="nav-link" href="/Personal/Log?ownerid=@user">個人日誌</a>
                                <a class="nav-link" href="/Personal/Friends?ownerid=@user&status=Friends">好友圈</a>
                                @if (Model.Isowner)
                                {
                                    <a class="nav-link" asp-controller="Setting" asp-action="Setting">設定</a>
                                }
                            </div>
                        </div>
                    </div>
                </nav>
                <div class="col-12">
                    <div class="card mt-3 border shadow">
                        <div class="card-body ">
                            <h5 class="fw-bolder text-center">好友圈</h5>
                        </div>
                        <div class="container mt-3">
                            <div class="btn-group ms-2">
                                <a href="/Personal/Friends?ownerid=@user&status=Friends" class="btn btn-success " id="btn-friends">好友</a>
                                @if (Model.Isowner)
                                {
                                    <a href="/Personal/Friends?ownerid=@user&status=Requests" class="btn btn-success" id="btn-pending">待確認</a>
                                    <a href="/Personal/Friends?ownerid=@user&status=Followings" class="btn btn-success" id="btn-following">追蹤</a>
                                }

                                <a href="/Personal/Friends?ownerid=@user&status=Followers" class="btn btn-success" id="btn-followers">追蹤者</a>
                            </div>

                            <div id="friendContainer" class="friend-list justify-content-between">

                                @if(Model.friends != null && Model.friends.Any()){
                                    if (Model.status == "Followers" || Model.status == "Requests")
                                    {
                                        @foreach (var friend in Model.friends)
                                        {



                                            var Friendsinfo = Model.viewuser.FirstOrDefault(f => f.UserId == friend.PersonAid);
                                            <div class="friend-item  align-items-center  justify-content-between p-2 border-bottom d-flex justify-content-between">
                                                <div class=" mt-2 ">
                                                    <a href="/Personal/Personal?ownerid=@friend.PersonAid" class="m-2" style="text-decoration:none">
                                                        <img src="@(Friendsinfo.PhotoUrl ?? "/img/Login/headphoto.jpg")" width="50" height="50" class="rounded-circle">
                                                    </a>
                                                    <span class="m-2">@Friendsinfo.Nickname</span>

                                                </div>
                                                @if (Model.status == "Requests")
                                                {
                                                    <div>
                                                        <a href="/Personal/AcceptFriend?requestId=@friend.PersonAid" class="btn btn-success btn-sm">接受</a>
                                                        <a href="/Personal/RemoveFriend?requestId=@friend.PersonAid" class="btn btn-danger btn-sm">拒絕</a>
                                                    </div>
                                                }
                                                //Followers
                                                else
                                                {
                                                    @if (Model.Isowner)
                                                    {
                                                        <a href="/Personal/DeleteFriend?requestId=@friend.PersonAid&status=@Model.status" class="btn btn-danger btn-sm">刪除</a>
                                                    }
                                                }

                                            </div>

                                        }
                                    }
                                    //Accept,Following
                                    else
                                    {
                                        @foreach (var friend in Model.friends)
                                        {
                                            var friendid = (friend.PersonAid == Model.owner.UserId) ? friend.PersonBid : friend.PersonAid;

                                            // 明確判斷應該從哪個欄位抓取 Friendsinfo
                                            User? Friendsinfo = null;
                                            if (friendid == friend.PersonAid)
                                            {
                                                Friendsinfo = Model.viewuser?.FirstOrDefault(f => f.UserId == friend.PersonAid);
                                            }
                                            else
                                            {
                                                Friendsinfo = Model.viewuser?.FirstOrDefault(f => f.UserId == friend.PersonBid);
                                            }

                                            // 如果 Friendsinfo 仍然是 null，則回傳 owner 作為後備方案
                                            Friendsinfo ??= Model.owner;

                                            <div class="friend-item  align-items-center  justify-content-between p-2 border-bottom d-flex justify-content-between">
                                                <div class=" mt-2 ">
                                                    <a href="/Personal/Personal?ownerid=@friendid" class="m-2" style="text-decoration:none">
                                                        <img src="@(Friendsinfo.PhotoUrl ?? "/img/Login/headphoto.jpg")" width="50" height="50" class="rounded-circle">
                                                    </a>
                                                    <span class="m-2">@Friendsinfo.Nickname</span>

                                                </div>
                                                @if (Model.Isowner)
                                                {
                                                    <a href="/Personal/DeleteFriend?requestId=@friendid&status=@Model.status" class="btn btn-danger btn-sm">刪除</a>
                                                }
                                                
                                            </div>

                                        }
                                    }


                                }
                                else
                                {
                                    <p class="text-muted fs-4 mt-2 ms-2">無好友</p>
                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">

                <div class="card border shadow">
                            <div class="card-body">
                                <div class="text-center">
                                    <img src="@(Model.owner.PhotoUrl ?? "/img/Login/headphoto.jpg")" class="rounded-circle shadow" height="50" width="50">
                                    <p class="mt-2"><strong>帳號:</strong> @Model.owner.UserId</p>
                                    <p><strong>暱稱:</strong> @Model.owner.Nickname</p>

                                </div>
                                <!-- 這邊放置右側卡片內容 -->
                            </div>
                        </div>
                        <div class="mt-3 ms-2">
                            @if (Model.Isowner)
                            {
                                <a href="/Personal/Friends?ownerid=@user&status=Followings" class="btn btn-success" id="btn-following">追蹤管理</a>
                                <a href="/Personal/Friends?ownerid=@user&status=Friends" class="btn btn-success " id="btn-friends">好友圈</a>
                            }
                            else
                            {
                                if (Model.Isfriend)
                                {
                                    <button class="btn btn-success btn-sm" disabled> 已是好友</button>
                                }
                                else if (Model.IsRequest)
                                {
                                    <a class="me-3 btn btn-success btn-sm" disabled>已發送請求</a>
                                }
                                else
                                {
                                    <a href="/Personal/AddFriend?requestid=@user" class="me-3 btn btn-success btn-sm">加好友</a>

                                }

                                if (Model.IsFollow)
                                {
                                    <button class="me-3 btn btn-success btn-sm" disabled> 已追蹤</button>
                                }
                                else
                                {
                                    <a href="/Personal/AddFollow?requestid=@user" class="me-3 btn btn-success btn-sm"> 追蹤</a>
                                }



                            }
                   
                        </div>
                    </div>
                </div>
            </div>
        


    @if (TempData["Error"] != null)
    {
        <script>
                  document.addEventListener("DOMContentLoaded", function () {
                var errorModal = new bootstrap.Modal(document.getElementById('errorModal'));
                errorModal.show();
            });
        </script>



        <!-- Bootstrap 5 Modal -->
        <div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="errorModalLabel">錯誤</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        @TempData["Error"]
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
                    </div>
                </div>
            </div>
        </div>
    }

        <script>

             document.addEventListener("DOMContentLoaded", function () { // 確保整個html完整加載和解析
            const buttons = document.querySelectorAll(".btn-group .btn");

            // 根據當前 URL 設置初始 active 狀態
            const currentUrl = window.location.href; //獲取當前路徑
            buttons.forEach(button => {
                if (button.href === currentUrl) { //當按鈕的那個路徑與當前路徑相同 則加active
                    button.classList.add("active");
                }
            });
        });
               
        </script>
</body>

</html>