@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	var user = Model.owner.UserId;
}

@model PersonalView
<head>
	<link rel="stylesheet" href="~/css/Personal/Personal.css" asp-append-version="true" />
</head>

<body>
	<div class="container-md  ">
		<div class="row">
			<!-- 左側內容區域 -->
			<div class="col-10 ">
				<nav class=" navbar-expand-lg navbar-light bg-light border shadow" >
					<div class="container-fluid">
						<div class="collapse navbar-collapse " id="navbarNavAltMarkup">
							<div class="navbar-nav ">
								<a class="nav-link active" href="/Personal/Personal?ownerid=@user">個人首頁</a>
								<a class="nav-link" href="/Personal/Collect?ownerid=@user">文章收藏</a>
								<a class="nav-link" href="/Personal/Log?ownerid=@user">個人日誌</a>
								<a class="nav-link" href="/Personal/Friends?ownerid=@user&status=Friends">好友圈</a>
								@if (Model.Isowner)
								{
									<a class="nav-link" asp-controller="Setting" asp-action="Setting">設定</a>
								}
								
							</div>
						</div>
					</div>
				</nav>

				<div class="col-12">
					<div class="card mt-3 border shadow">
						<div class="card-body ">
							<h5 class="fw-bolder">個人文章</h5>
							<div class="box-container d-flex align-items-center ms-3">
								
									<div class="news-img me-2">
										<a href=""><img src="~/img/User/personal2.jpg" width="300px" height="200px" /></a>
									</div>
									<div class="mt-3 ">
										<h5>
											<a href="#" class="Log">【心得】鳴潮 任務道具&紀念品一覽｜持續更新</a>
										</h5>
										<p id="LogContent">
											此帖整合往期「鳴潮伴星任務及活動」贈送的任務道具及紀念品
											※可點圖片放大檢閱
											※部分任務自動獲取道具及一次性道具不列出，基本人人都有
											※有缺失歡迎巴友告知
											────────【2.1版本】────────

											名稱：船長的藏寶圖
											類別：伴星任務
											獲取方式：完成(啟航日，船長!)後獲取

											名稱：沉寂的盒子
											類別：危行任務
											獲取方式：完成2.1危行任務(葉落無聲)後，進入洞穴探索獲取...
											<a href="">繼續閱讀</a>
										</p>
									</div>
								


							</div>
							<div class="text-center mt-2">
								<a class="btn btn-success btn-sm" href="/Personal/Log?ownerid=@user">看更多</a>
							</div>
							<!-- 這邊放置左側卡片內容 -->
						</div>
					</div>
					<div class="card mt-3 border shadow">
						<div class="card-body">
							<h5 class="fw-bolder">訂閱看板</h5>
							
								<div class="m-3 mt-2">
									<a href="#" class="fst-italic font-monospace lh-sm  Log ">崩壞：星穹鐵道</a>
								</div>
								<div class="m-3 mt-2">
									<a href="#" class="fst-italic font-monospace lh-sm  Log">魔物獵人 系列</a>
								</div>
								<div class="m-3 mt-2">
									<a href="#" class="fst-italic font-monospace lh-sm  Log">鳴潮</a>
								</div>
							




							<!-- 這邊放置左側卡片內容 -->
						</div>
					</div>
					<div class="card mt-3 border shadow">
						<div class="card-body">
							<h5 class="fw-bolder">最近收藏</h5>
							
								
							
							
								<div class="ms-3">
									<a href="#" class="fst-italic font-monospace lh-sm  Log">【情報】版本資訊｜2.2版本「真偽倒懸於高塔」</a>
								</div>
								<div class="ms-3 mt-2">
									<a href="#" class="fst-italic font-monospace lh-sm text-break  Log">【攻略】【V2.2】最高可得136抽限定角色喚取！|鳴潮2.2版本星聲福利匯總</a>
								</div>
								<div class="ms-3 mt-2">
									<a href="#" class="fst-italic font-monospace lh-sm  Log">【情報】「全像戰略·嘆息古龍」 挑戰即將更新！</a>
								</div>
								<div class="text-center mt-2">
									<a class="btn btn-success btn-sm" href="/Personal/Collect?ownerid=@user">看更多</a>
								</div>
							


							<!-- 這邊放置左側卡片內容 -->
						</div>
					</div>
				</div>
			</div>


			<!-- 右側個人資訊區域 -->
			<div class="col-2">
				<div class="card border shadow">
					<div class="card-body">
						<div class="text-center">
							<img src="@(Model.owner.PhotoUrl ?? "/img/Login/headphoto.jpg")" class="rounded-circle shadow" height="50px" width="50px">
							<p class="mt-2"><strong>帳號:</strong> @user</p>
							<p><strong>暱稱:</strong> @Model.owner.Nickname</p>
							<p><strong>好友數:</strong> @Model.friends.Count</p>
						</div>
					</div>
				</div>
				<div class="mt-3">
					@if (Model.Isowner)
					{
						<a href="/Personal/Friends?ownerid=@user&status=Followings" class="btn btn-success" id="btn-following">追蹤管理</a>
						<a href="/Personal/Friends?ownerid=@user&status=Friends" class="btn btn-success " id="btn-friends">好友圈</a>
					}
					else
					{
						if (Model.Isfriend)
						{
							<button class="btn btn-success btn-sm" disabled> 已是好友</button>
						}
						else if (Model.IsRequest)
						{
							<a class="me-3 btn btn-success btn-sm" disabled>已發送請求</a>
						}
						else
						{
							<a href="/Personal/AddFriend?requestid=@user" class="me-3 btn btn-success btn-sm">加好友</a>

						}


						if (Model.IsFollow)
						{
							<button class="me-3 btn btn-success btn-sm" disabled> 已追蹤</button>
						}
						else
						{
							<a href="/Personal/AddFollow?requestid=@user" class="me-3 btn btn-success btn-sm"> 追蹤</a>
						}



					}

				</div>

				<div class="card mt-3 border shadow">
					<div class="mt-3 text-center ">
						<h5>今日訪客</h5>
					</div>
					<div class="card-body d-flex flex-wrap justify-content-center">
						@if (Model.visitors.Any())
						{
							foreach (var histoy in Model.visitors)
							{
								var viewuser = Model.viewuser.FirstOrDefault(u => u.UserId == histoy.VisitorId);
								if (viewuser != null)
								{
									<div class="mb-2 ms-2">
										<a href="/Personal/Personal?ownerid=@histoy.VisitorId">
											<img src="@(viewuser.PhotoUrl ?? "/img/Login/headphoto.jpg")" width="40" height="40" class="rounded-circle">
										</a>
									</div>


								}
							}
						}
						else
						{
							<div>
								<p class="text-secondary">今日無訪客</p>
							</div>
						}

					</div>
				</div>
			</div>
		</div>
	</div>
	@if (TempData["Error"] != null)
	{
		<script>
				  document.addEventListener("DOMContentLoaded", function () {
				var errorModal = new bootstrap.Modal(document.getElementById('errorModal'));
				errorModal.show();
			});
		</script>



		<!-- Bootstrap 5 Modal -->
		<div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="errorModalLabel">錯誤</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						@TempData["Error"]
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
					</div>
				</div>
			</div>
		</div>
	}


</body>
